h1{
	text-align:center;
}
.jumbotron{
	border: 10px solid grey;
}
.charts{
   width:55%;
   margin-right:2%;
   margin-left:2%;
    float: left;
    position: relative;
    height:40vh;
    width:40vw;
}
